<%= stylesheet_link_tag "main" %>

<h1>AND Shoppinglist</h1>

<div class="container">
<%= render :partial => @items, :locals => { :list => true } %>
</div>

<br />

<%= render 'form' %>

<div class="stockgroup_container">


<% @stocktypes.each do |stocktype| %>
<div>
<div class="stockitem" onclick="submit_new_item_form_for('<%= stocktype.name %> ','<%= stocktype.group %>')">
    <%= stocktype.name %>, <%= stocktype.group %>
</div>
<div class="spacer"> </div>
</div>

<% end %>


</div>

</div>


