<div class="stocktype" onclick="submit_new_item_form_for('<%= stocktype.name %>','<%= stocktype.group %>')">
          &nbsp; <%= stocktype.name %>
<!--          
          <%= link_to 'Edit',    stocktype, :method => :edit  , :remote => true %>
          <%= link_to 'Destroy', stocktype, :method => :delete, :remote => true %>
-->
</div>

