<div id="id<%= stocktype.id %>" class="group_<%= stocktype.group %>" > 
<div class="item">
    <%= stocktype.name %>,
    <%= stocktype.group %>
    <%= link_to 'Edit',    stocktype, :method => :edit  , :remote => true %>
    <%= link_to 'Destroy', stocktype, :method => :delete, :remote => true %>
</div>
<div class="spacer"> </div>
</div>

