<%= stylesheet_link_tag "main" %>

<h1>AND Shoppinglist Admin</h1>

<%= render 'form' %>

<div id="stock_container">

<% @stockgroups.each do |stockgroup| %>
  <div id="<%= stockgroup %>" >
    <div class="navi"> <%= stockgroup %> </div>
    <% @stocktypes.each do |stocktype| %>
    <% if stocktype.group == stockgroup %> 
      <div>
        <%= render :partial => stocktype, :locals => { :list => true } %>
      </div>
    <% end %>
    <% end %>
  </div>
<% end %>



</div>

<br />



</div>

